[submodule "vim/bundle/bufexplorer"]
	path = vim/bundle/bufexplorer
	url = https://github.com/vim-scripts/bufexplorer.zip.git
[submodule ".janus"]
	path = .janus
	url = git://github.com/carlhuda/janus.git
